@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;

}

@media print {
  body {
    margin: 0;
  }

  body * {
    visibility: hidden;
  }

  .print-only,
  .print-only * {
    visibility: visible;
  }

  .print-only {
    position: absolute;
    left: 0;
    top: 0;
    width: 58mm;
    padding: 6px;
    text-align: center;
  }

  @page {
    size: 58mm auto;
    margin: 20;
    text-align: center;
  }
}

/* Default */
.print-only {
  display: none;
}

@media print {
  .print-only {
    display: block;
  }
}

